<app-page-bar> </app-page-bar>



<mat-grid-list cols="4" rowHeight="100px" gutterSize="13px" class="grid-block">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
        <!-- <img src="./assets/Dotnettricks.png"> -->

        <mat-grid-tile-header>
            <span class="material-icons">
                {{tile.icon}}
            </span>
        </mat-grid-tile-header>
        <span class="total"> {{tile.amount}}</span>
        <mat-grid-tile-footer>
            <span class="total-text">{{tile.text}} </span>
        </mat-grid-tile-footer>

    </mat-grid-tile>
</mat-grid-list>