<app-page-bar [heading]="title" [description]="description"> </app-page-bar>


<mat-grid-list cols="4" rowHeight="100px" gutterSize="13px" class="grid-block">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
        <mat-grid-tile-header>
            <span class="material-icons">
                {{tile.icon}}
            </span>
        </mat-grid-tile-header>
        <span class="total"> {{tile.amount}}</span>
        <mat-grid-tile-footer>
            <span class="total-text">{{tile.text}} </span>
        </mat-grid-tile-footer>

    </mat-grid-tile>
</mat-grid-list>
<br>
<div class="grid-header">
    <span class="material-icons">
        apps
    </span> Recent Blogs
</div>
<mat-grid-list cols="4" rowHeight="160px" gutterSize="0px" class="grid-plain">
    <mat-grid-tile *ngFor="let item of blogInfo; let index = index" [colspan]="item.cols" [rowspan]="item.rows">
        <mat-grid-tile-header>
            <img [src]="item.imageurl">
        </mat-grid-tile-header>
        <span class="total"> {{item.text}}</span>
        <mat-grid-tile-footer>
            <span class="total-text">{{item.description}} </span>
        </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>