@import 'src/color.scss';

.grid-block{
    .material-icons {
        font-size: 41px;
        color: $primary-color;
    }
    
}

.total {
    font-weight: 700;
    font-size: 40px;
    padding-top: 90px;
    padding-left: 13px;
    width: 100%;
}

.total-text {
    font-weight: 700;
    font-size: 20px;
    color: #839DB3;
}

.mat-grid-tile .mat-grid-tile-header,
.mat-grid-tile .mat-grid-tile-footer {
    background-color: $white;
}

.grid-header {
    font-weight: 700;
    font-size: 16px;
    background: $white;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #f0f0f0;
    .material-icons{
    font-size: 16px;
    }
}
.mat-grid-tile-header{
    flex-direction: row-reverse;
}