
<div class="page-toolbar"> <button mat-icon-button>
        <mat-icon>apps</mat-icon>
    </button>
    <span class="heading"> {{heading}}</span>
    <span class="list-btn" *ngIf="isGridBtn">
        <span class="material-icons" [class.selected]="!isGrid"  (click)="toggle(false)">
            list
        </span>
        <span class="material-icons" [class.selected]="isGrid" (click)="toggle(true)">
            view_comfy
        </span>
       
    </span>

    <div class="detail"> {{description}}</div>

</div>