<div class="card-row">
    <div class="card" *ngFor="let user of allUsers">
        <div class="circle">
            <img [src]="user.imageurl" alt="" srcset="">
            <div class="inner-circle">
                <span class="material-icons">
                    play_circle_filled
                </span>
            </div>
        </div>
        <div class="text">
            <div class="heading">{{user.name}}</div>
            <div class="sub-heading">{{user.designation}}</div>
        </div>
    </div>
</div>