
<mat-toolbar color="menu-toolbar">

  <mat-toolbar-row>
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon  *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon  *ngIf="drawer.opened">close</mat-icon>
    </button>
    <span>
      <img src="assets/images/logo.png" />
    </span>
    <span class="menu-spacer"></span>
    <mat-icon class="menu-icon"> notifications_none</mat-icon>
    <div class="profile">AP</div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container class="menu-container" autosize>
  <mat-drawer #drawer class="menu-sidenav" mode="side" opened="true">
    <div class="main-menu-heading">
      <span class="menu-heading"> Menu </span>
    </div>
    <hr class="menu">
    <div class="sub-menu">
      <div class="link cp" [routerLink]="['/', 'app', 'home']" routerLinkActive="active">
        <mat-icon> apps</mat-icon>

        <span>
          Home
        </span>
      </div>
      <div class="link cp" [routerLink]="['/', 'app', 'user']" routerLinkActive="active">
        <mat-icon> apps</mat-icon>
        Users
      </div>
      <div class="link cp" [routerLink]="['/', 'app', 'blog']" routerLinkActive="active">
        <mat-icon> apps</mat-icon>
        Blog
      </div>
    </div>


  </mat-drawer>
  <div class="menu-sidenav-content">
    <!-- ** Component data is loading in this router outlet ** -->
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>