<div class="container">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Joining Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allUsers">
                        <td>{{ user.id }}</td>
                        <td class="pr"> <img class="user-img" [src]="user.imageurl" alt="" srcset=""> <span
                                class="name p-color">  <strong>{{ user.name }} </strong></span></td>
                        <td>{{ user.designation }}</td>
                        <td>{{ user.joiningdate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>