 /** Added All color in Color.SCSS  */
$white: #ffffff;
$black: #000000;
$page-bar-color: #F8FBFD;
$page-bar-border: #d7d7d7;
$total-text: #839DB3;
$grid-header-color: #f0f0f0;


$primary-color: #47a1f6;
$background-color: #f0f5fb;
$text-color: #668094;
$menu-color: #ffffff;